

@media screen and (max-width: 1024px){
    .explorer{
        width: 150px;
    }
}
@media screen and (max-width: 960px) {
    .main-content-home,.main-content-skills{
        left: 50px;
    }
}
@media  screen and (max-width: 800px) {
    .a-side{
        width: 40;
    }
    .a-side-icon{
        font-size: 22px;
    }
    .main-content-skills,.main-content-home{
        left: 20px;
    }
}
@media screen and (max-width: 760px) {
    .home-container{
        flex-direction: column;
        width: fit-content;
        height: fit-content;
    }
    .main-content-skills,.main-content-home{
        top: 40px;
        left: 100px;
    }
}
@media screen and (max-width: 650px){
    .title-ul{
        display: none;
    }
    .explorer{
        display: none;
    }
    .title-bar-section p{
        left: 40%;
    }
}
@media screen and (max-width: 540px) {
    .nav-li{
        padding: 0 5px;
        font-size: 14px;
    }
    .main-content-skills,.main-content-home{
        left: 80px;
    }
    .hello{
        font: 25px;
    }
    .name-surn{
        font-size: 40px;
    }
    .web-dev{
        font-size: 30px;
    }
    .email,.number,.github-link,.location{
        font-size: 16px;
    }

}
@media screen and (max-width: 480px) {
    .main-content-home,.main-content-skills{
        left: 50px;
    }
    .a-side{
        width: 35px;
    }
    .a-side-icon{
        font-size: 18px;
    }    
}
@media screen and (max-width: 440px) {
    .skills-li{
        margin: 0 2px;
        padding: 2.5px 7.5px;
    }
}
@media  screen and (max-width: 340px) {
    .main-content-home,.main-content-skills{
        left: 20px;
    }
    .nav-li{
        font-size: 12px;
    }
}